<div class="hero overlay" style="background-image: url('assets/images/bg_3.jpg');">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-lg-9 mx-auto text-center">
          <h1 class="text-white" >{{title |uppercase }}</h1>
          <h1 class="text-white">{{title | asterix}}</h1>
          <h1 class="text-white">{{croco |inverse}}</h1>
          <h3 class="text-white">{{actualDate |date:"short"}}</h3>
        </div>
      </div>
    </div>
  </div>
  <nav>
    <div class="nav nav-tabs" id="nav-tab" role="tablist">
      <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab" aria-controls="nav-home" aria-selected="true">{{titles[0]}}</a>
      <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#nav-profile" role="tab" aria-controls="nav-profile" aria-selected="false">{{titles[1]}}</a>
      <a class="nav-item nav-link" id="nav-contact-tab" data-toggle="tab" href="#nav-contact" role="tab" aria-controls="nav-contact" aria-selected="false">{{titles[2]}}</a>
      <a class="nav-item nav-link" id="nav-stadiums-tab" data-toggle="tab" href="#nav-stadiums" role="tab" aria-controls="nav-contact" aria-selected="false">{{titles[3]}}</a>

    </div>
  </nav>
  <table class="table" style="text-align: center;">
  <div class="tab-content" id="nav-tabContent" >
    <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab" style="margin-left: 100px ">
       <app-match-table></app-match-table>
    </div>

    <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
        <app-team-table></app-team-table>
         
    </div>
    <div class="tab-pane fade" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab">
       <app-player-table></app-player-table>
    </div>
    <div class="tab-pane fade" id="nav-stadiums" role="tabpanel" aria-labelledby="nav-stadium-tab">
      <app-stadium-table></app-stadium-table>
       
  </div>
  </div>
</table>