<thead>
    <tr>
       <th>ID</th>
       <th>score one</th>
       <th>score tow </th>
       <th>team one</th>
       <th>team tow</th>
       <th>Result</th>
       <th>Action</th>
    </tr>
</thead>
<tbody>
    <tr *ngFor="let m of matchesTab">
        <td>{{m.id}}</td>
        <td>{{m.scoreOne}}</td>
        <td >{{m.scoreTow}}</td>
        <td [ngStyle]= "{color: scoreColor(m.scoreOne , m.scoreTow)}">{{m.teamOne}}</td>
        <td [ngStyle]= "{color: scoreColor(m.scoreTow, m.scoreOne)}">{{m.teamTow}}</td>
        <td><span *ngIf="m.scoreOne != m.scoreTow ">{{m.teamTow}} </span> <span>{{scoreResult(m.scoreTow,m.scoreOne)}}</span></td>
        
<td>
    <button type="button" class="btn btn-success"(click)="goToInfo(m.id)">Display</button>
    <button type="button" class="btn btn-info ml-1 mr-1" (click)="goToEdit(m.id)">Edit</button>
    <button type="button" class="btn btn-danger" (click)="deleteMatch(m.id)">Delete</button>
    </td>

</tr>

</tbody>